
		<div class="obj">
			<header class="head">
				<a href=""><h1><img src="img/logo.png"/></h1></a>
				<ul>
					<li><a href="">首页 <img src="img/daohang.png" alt="" /></a></li>
					<li><a href="">关于我们<img src="img/daohang.png" alt="" /></a></li>
					<li><a href="">产品中心<img src="img/daohang.png" alt="" /></a></li>
					<li><a href="">行业方案<img src="img/daohang.png" alt="" /></a></li>
					<li><a href="">客户服务<img src="img/daohang.png" alt="" /></a></li>
					<li><a href="">新闻资讯<img src="img/daohang.png" alt="" /></a></li>
					<li><a href="">联系我们<img src="img/daohang.png" alt="" /></a></li>
				</ul>
				<div class="font"><a href="">中文 </a><span>|</span><a href=""> English</a></div>
				<img src="img/search.png" alt="" / class="search">
			</header>
		</div>
	<!--子菜单-->
	
		<div class="son1">
			<div class="soncen">
				<ul>
					<li><a href="">网站地图&nbsp;&nbsp;&gt;</a></li>
					<li><a href="">友情链接&nbsp;&nbsp;&gt;</a></li>
				</ul>
				<img src="img/caidan.png"/ class="xian">
				<img src="img/caidan2.png"/ class="soncentu">
			</div>
		</div>
		
		<div class="son2">
			<div class="soncen">
				<ul>
					<li><a href="">公司简介&nbsp;&nbsp;&gt;</a></li>
					<li><a href="">合作伙伴&nbsp;&nbsp;&gt;</a></li>
					<li><a href="">组织架构&nbsp;&nbsp;&gt;</a></li>
					<li><a href="">荣誉资质&nbsp;&nbsp;&gt;</a></li>
					<li><a href="">社会责任&nbsp;&nbsp;&gt;</a></li>
				</ul>
				<img src="img/caidan.png"/ class="xian">
				<img src="img/caidan2.png"/ class="soncentu">
			</div>
		</div>
		
		<div class="son3">
			<div class="soncen">
				<ul>
					<li><a href="">产品详情&nbsp;&nbsp;&gt;</a></li>
					
				</ul>
				<img src="img/caidan.png"/ class="xian">
				<img src="img/caidan2.png"/ class="soncentu">
			</div>
		</div>
		
		<div class="son4">
			<div class="soncen">
				<ul>
					<li><a href="">解决方案详情&nbsp;&nbsp;&gt;</a></li>
					
				</ul>
				<img src="img/caidan.png"/ class="xian">
				<img src="img/caidan2.png"/ class="soncentu">
			</div>
		</div>
		
		<div class="son5">
			<div class="soncen">
				<ul>
					<li><a href="">问题解答&nbsp;&nbsp;&gt;</a></li>
					<li><a href="">下载专区&nbsp;&nbsp;&gt;</a></li>
					<li><a href="">意见反馈&nbsp;&nbsp;&gt;</a></li>
					
				</ul>
				<img src="img/caidan.png"/ class="xian">
				<img src="img/caidan2.png"/ class="soncentu">
			</div>
		</div>
		
		<div class="son6">
			<div class="soncen">
				<ul>
					<li><a href="">新闻详情&nbsp;&nbsp;&gt;</a></li>
					
					
				</ul>
				<img src="img/caidan.png"/ class="xian">
				<img src="img/caidan2.png"/ class="soncentu">
			</div>
		</div>
		
		<div class="son7">
			<div class="soncen">
				<ul>
					<li><a href="">联系方式&nbsp;&nbsp;&gt;</a></li>
					<li><a href="">招聘信息&nbsp;&nbsp;&gt;</a></li>
					
					
				</ul>
				<img src="img/caidan.png"/ class="xian">
				<img src="img/caidan2.png"/ class="soncentu">
			</div>
		</div>
		
		<script src="js/top.js" type="text/javascript" charset="utf-8"></script>
	
